<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
   <h1 class="header">Config to generate password</h1> 
   <form action="{% url 'password' %}">
       <select name="length" id="" class = "container">
           <option value="6" selected='selected'>6</option>
           <option value="7">7</option>
           <option value="8">8</option>
           <option value="9">9</option>
           <option value="10">10</option>
           <option value="11">11</option>
           <option value="12">12</option>
           <option value="13">13</option>
           <option value="14">14</option>
       </select>
       <div class="container">
           <input type="checkbox" class="global" name="uppercase"> Uppercase
       </div>
       <div class="container">
           <input type="checkbox" class="global" name='special'> Special letter
       </div>
       <div class="container">
           <input type="checkbox" class="global" name='number'> Number
       </div>
       <div class="container">
           <input  type="submit" value="generate" class="global">
       </div>
   </form>
</body>
</html>
